* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    // Color
    --primary: #fe2c55;
    --white-color: #fff;
    --text-color: #161823;
    --gray-color: #a7a7ab;
    --text-gray-color: rgba(22, 24, 35, 0.75);
    --background-gray-color-03: rgba(22, 24, 35, 0.03);
    --background-color-gray-06: rgba(22, 24, 35, 0.06);

    // font family
    --font-family: 'ProximaNova', sans-serif;
    //
    --header-height: 60px;
    --width-default: 1150px;
    // Box Shadow
    --box-shadow-header: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

html {
    font-size: 62.5%;
}

body {
    text-rendering: optimizespeed;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    line-height: 1.5rem;
    color: #161823;
    background-color: rgb(255, 255, 255);
}

//  Font Family
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

//

button,
input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}
