.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--background-gray-color-03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--default-background-media);
}

.body {
    margin-left: 12px;
    overflow: hidden;
}

.userName {
    max-width: 260px;
    margin-top: -2px;
    font-weight: 700;
    line-height: var(--line-height);
}

.name {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--text-gray-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// --------------------------------------------
.wrapper-preview {
    width: 320px !important;
    padding: 20px !important;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.avatar-preview {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--default-background-media);
}

.btn-follow {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary);
    color: #fff;
    line-height: var(--line-height);
    min-width: 100px;
    border-radius: 4px;
    min-height: 36px;
    padding: 0 8px;

    &:hover {
        opacity: 0.8;
    }
}

.username-preview {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
    max-width: 260px;
    margin-top: -2px;
}

.name-preview {
    font-size: 1.4rem;
    font-weight: 600;
    color: inherit;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
