.wrapper-lis,
.search {
    width: 361px;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    z-index: 1;
    height: var(--search-height);
    border-radius: var(--search-border-radius);
    background-color: #1618230f;
    overflow: hidden;
    border: 1px solid transparent;

    &:focus-within {
        border-color: #a7a7ab;
    }

    input {
        position: relative;
        flex: 1;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        caret-color: var(--primary);
        padding: 0;
        background-color: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

input:not(:placeholder-shown) ~ .search-btn {
    color: #4c4e57;
}

.icon-close,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: #16182357;
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    color: #a6a6aa;
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    margin-left: 0;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-icon {
    width: 24px;
    height: 24px;
}
