.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    z-index: 1;
    width: 361px;
    height: 46px;
    border-radius: 92px;
    background-color: #1618230f;
    overflow: hidden;
    border: 1px solid transparent;

    &:focus-within {
        border-color: #a7a7ab;
    }

    input {
        position: relative;
        flex: 1;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        caret-color: var(--primary);
        padding: 0;
        background-color: transparent;
    }
}

input:not(:placeholder-shown) ~ .search-icon {
    color: #4c4e57;
}

.delimiter {
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, 0.12);
}

.close-btn {
    margin: 0 12px;
}

.icon-close,
.loading {
    width: 14px;
    height: 14px;
    color: #a6a6aa;
}

.loading {
    margin-right: 12px;
}

.search-btn {
    color: #a6a6aa;
    padding: 11px 16px 11px 12px;
    margin: -12px -16px;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    margin-left: 0;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-icon {
    width: 18px;
    height: 18px;
}
