.wrapper {
    width: inherit;
}

.inner-fixed {
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    width: inherit;
    background-color: var(--white-color);
    z-index: 1;
}

.content {
    padding: 20px 8px 26px;
}

// ------ Scrollbar

.scrollbar-view {
    overflow: hidden scroll !important;
    margin-bottom: 0 !important;
}
.scrollbar-track {
    top: 0;
    bottom: 0;
    right: 3px;
    transition: opacity 0.5s !important;
}
.scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--background-color-gray-06);
}

// ----- Discover

.discover-wrapper {
    padding: 16px 8px 8px !important;

    .title {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--text-gray-color);
        padding-bottom: 16px;
    }

    .content {
        padding: 0;
    }

    .btn-discover {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 400;
        max-height: 24px;
        max-width: 100%;
        min-height: 0;
        min-width: 0;
        padding: 3px 10px;
        border-radius: 9999px;
        margin-right: 6px;
        margin-bottom: 12px;
        margin-left: 0;
        transition: background-color 0.2 ease-in-out;
        border: 1px solid var(--background-gray-color-02);
        color: var(--text-gray-color);
        background-color: var(--white-color-2);
    }

    .icon-discover {
        font-size: 1.6rem;
        color: var(--text-primary-color);
    }

    .text-discover {
        margin-left: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// ------------ Footer

.container-footer {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.1rem;
    padding: 16px 0 0 8px !important;
    color: var(--text-gray-color2);
}

.link-list {
    margin-bottom: 8px;
}
.footer-coppyright,
.footer-more,
.link-item {
    display: inline-block;
    line-height: 1.7rem;
    margin: 5px 6px 0 0;
    color: inherit;
}
