.wrapper {
    width: inherit;
}

.inner-fixed {
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    width: inherit;
    background-color: var(--white-color);
}

.content {
    padding: 20px 8px 26px;
}

.scrollbar-view {
    margin-bottom: 0 !important;
    overflow: hidden scroll !important;
}

.scrollbar-track {
    top: 0;
    bottom: 0;
    right: 3px;
    transition: opacity 0.5s !important;
}
.scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--background-gray-color-06);
}
