.wrapper {
    width: inherit;
}

.inner-fixed {
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    width: inherit;
    background-color: var(--white-color);
    z-index: 99999;
}
