.wrapper {
    width: inherit;
}

.inner-fixed {
    position: fixed;
    bottom: 0;
    top: var(--header-height);
    width: inherit;
    background-color: var(--white-color);
    z-index: 1;
}

.content {
    padding: 20px 8px 26px;
}

// ------ Scrollbar

.scrollbar-view {
    overflow: hidden scroll !important;
    margin-bottom: 0 !important;
}
.scrollbar-track {
    top: 0;
    bottom: 0;
    right: 3px;
    transition: opacity 0.5s !important;
}
.scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--background-color-gray-06);
}

// ----- Discover

.discover-wrapper {
    padding: 16px 8px 8px !important;
}
