.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    border-radius: 100px;
    background-color: rgba(22, 24, 35, 0.12);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

    &:hover {
        background-color: var(--background-gray-color-16);
    }

    &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #fff;
        transition: inherit;
    }
}

#them-input:checked {
    border: 1px solid red;

    .switch {
        background-color: #0be09b;

        &::after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
    }
}
