.them-input {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    border-radius: 100px;
    background-color: rgba(22, 24, 35, 0.12);
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
