.wrapper {
    padding: 16px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        height: 1px;
        top: 0;
        transform: scaleY(0.5);
        background-color: var(--background-gray-color-12);
    }
}
