.wrapper {
    background-color: var(--background-color-gray-06);
    overflow: hidden;
    position: relative;
    padding-top: 132.653%;
}

.inner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: absolute;

    &.vertical {
        img,
        video {
            width: 100%;
        }
    }

    &.horizontal {
        img,
        video {
            height: 100%;
        }
    }
}
