.wrapper-menu {
    min-width: 224px;
    max-height: 590px;
    width: fit-content;
}

.arrow-poper {
    top: -8px;
    height: 8px;
    overflow-y: clip;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateX(-50%) translateY(17%) rotate(45deg);
        background-color: var(--white-color);
        box-shadow: var(--box-shadow-popper);
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    transform: translateX(-7px);

    .menu-item-wrapper {
        overflow-y: auto;
    }
}
