.wrapper-menu {
    min-width: 224px;
    max-height: 590px;
    width: fit-content;
}

.arrow-poper {
    top: -8px;
    height: 8px;
    overflow-y: clip;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateX(-50%) translateY(17%) rotate(45deg);
        background-color: var(--white-color);
        box-shadow: var(--box-shadow-popper);
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    transform: translateX(-7px);

    .menu-item-wrapper {
        overflow-y: auto;
    }

    .menuItem {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 42px;
        margin-left: 0;
        padding-left: 16px;
        font-weight: 600;
    }

    .icon-menuItem {
        font-size: 2rem;
        line-height: 0;
    }

    .text-menuItem {
        flex: 1;
        text-align: left;
    }
}

.sub-menuChildren {
    padding: 0;
}

.header-subMenu {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
}
