.wrapper-menu {
    min-width: 224px;
    max-height: 590px;
    width: fit-content;
}

.arrow-poper {
    position: absolute;
    left: 0;
    top: -8px;
    transform: translate3d(190px, 0px, 0px);
    height: 8px;
    overflow-y: clip;
    z-index: 1;

    background-color: var(--white-color-3);
    box-shadow: var(--box-shadow-popper);
    content: "";
    height: 15px;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(17%) rotate(45deg);
    transform: translateX(-50%) translateY(17%) rotate(45deg);
    width: 15px;
}
}
