.wrapper-menu {
    min-width: 224px;
    max-height: 590px;
    width: fit-content;

    .sub-menuChildren {
        padding: 0;
    }
}

.arrow-poper {
    top: -8px;
    height: 8px;
    overflow-y: clip;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        transform: translateX(-50%) translateY(17%) rotate(45deg);
        background-color: var(--white-color-2);
        box-shadow: var(--box-shadow-popper);
    }
}

.menu-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    transform: translateX(-7px);
    background-color: var(--white-color-2);

    .menu-item-wrapper {
        overflow-y: auto;
    }

    .menuItem {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 42px;
        margin-left: 0;
        padding-left: 16px;
        font-weight: 600;
        background-color: var(--white-color-3);

        &:hover {
            background-color: var(--background-gray-color-03);
        }
    }

    .icon-menuItem {
        font-size: 2rem;
        line-height: 0;
    }

    .text-menuItem {
        flex: 1;
        text-align: left;
    }
}
//  SubMenu

.sub-menuItem {
    font-size: 1.4rem;
    font-weight: 400;
    height: 40px;
    padding: 0 24px;

    &:hover {
        background-color: var(--background-color-gray-06);
    }
}

.header-subMenu {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    border-bottom: 1px solid var(--background-gray-color-12);
}

.btn-backMenuMain {
    padding: 0 12px;
    font-size: 20px;
}

.header-subTitle {
    font-weight: 700;
    font-size: 18px;
    margin-left: 30px;
}
