.wrapper {
    --search-container-width: 361px;
    --search-container-height: 46px;
    --search-border-radius: 92px;
    // -------
    background-color: var(--white-color);
    box-shadow: var(--box-shadow-header);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-default);
    height: var(--header-height);
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 24px;
}
