.wrapper {
    min-width: 692px;
}

.suggest-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
}

.suggest-item {
    flex-basis: 33.33333%;
    margin-bottom: 18px;
    max-width: 33.333333%;
    min-width: 230px;
    padding: 0 9px;
}
