.wrapper {
    min-width: 692px;
}

.suggest-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
}

.suggest-item {
    flex-basis: 33.33333%;
    margin-bottom: 18px;
    max-width: 33.333333%;
    min-width: 230px;
    padding: 0 9px;
}

.content-wrapper {
    border-radius: 8px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
}

.short-info {
    position: absolute;
    top: initial;
    padding: 20px 12px;
    text-align: center;
    inset: 0;
    color: #fff;
    transform: scale(0.94);
    z-index: 10;
}

.info__avatar {
    width: 48px;
    height: 48px;
    margin-bottom: 14px;
    object-fit: cover;
    border-radius: 50%;
}

.info__fullname,
.info__username {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.info__fullname {
    font-weight: 1.8rem;
    line-height: 2.5rem;
}

.info__username {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
}
