.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    min-height: 36px;
    cursor: pointer;
}

.upload {
    min-width: 100px;
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    padding: 0 16px;
    background-color: var(--white-color);
}
