.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    min-height: 36px;
    cursor: pointer;

    + .btn {
        margin-left: 16px;
    }
}

.upload {
    min-width: 100px;
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    padding: 0 16px;
    background-color: var(--white-color);

    &:hover {
        background-color: var(--background-gray-color-03);
    }
}

.login {
    background-color: var(--primary);
    color: var(--white-color);
    line-height: 2.2rem;
    min-width: 100px;
}
