.wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-width: 223px;
    overflow: hidden auto;
    padding-inline-start: 0px;
}

// position: absolute;
//     width: 100%;
//     margin-top: 8px;
//     background: rgb(255, 255, 255);
//     box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
//     border-radius: 8px;
//     padding-top: 8px;
//     box-sizing: border-box;
//     max-height: min((100vh - 96px) - 60px, 734px);
//     list-style-type: none;

// font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 22px;
//     padding: 8px 0px;
//     margin: 0px;
//     list-style: none;
