.modal-wrapper {
    width: 400px;
    height: 543px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 4px;
    background-color: transparent;
    color: var(--text-primary-color);
}

.big-title {
    line-height: 32px;
    padding: 24px 48px 16px 24px;
    border-bottom: 1px solid var(--background-gray-color-02);
}

.download-with-qr {
    padding-top: 32px;
    text-align: center;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 24px;
}

.qr-space {
    padding: 24px;
}

.qr-download {
    width: 174px;
    height: 174px;
}

.download-with-store {
    text-align: center;
}

.store-list {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 288px;
    margin-top: 16px;
}

.store-item {
}
