.wrapper {
    display: flex;
    align-items: center;
    color: inherit;
    cursor: pointer;
    padding: 9px 16px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
    margin-left: 12px;
    overflow: hidden;
}

.username,
.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.username {
    font-weight: 600;
    line-height: var(--line-height);
}
