.live-loading {
    background-color: var(--background-gray-color-241);
    border-radius: 8px;
    height: 100%;
    max-height: 800px;
    position: relative;
}

.loading_view,
.loading_info,
.username {
    height: 20px;
    border-radius: 100px;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, rgba(22, 24, 35, 0), rgba(22, 24, 35, 0.08) 50%, rgba(22, 24, 35, 0));
    background-color: var(--background-color-gray-06);
    animation: loading-animate 1.5s linear infinite;
}

@keyframes loading-animate {
    from {
        background-position-x: 200%;
    }

    to {
        background-position-x: -150%;
    }
}
