.wrapper {
    display: flex;
    padding-top: 24px;
}

.avartar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.body {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 12px;
}

.description {
    width: 478px;
    margin-top: 6px;
    margin-bottom: 15px;
}

.user-name,
.full-name {
    width: 200px;
    height: 16px;
    border-radius: 2px;
}

.user-name {
}

.full-name {
    width: 478px;
    height: 16px;
    margin-bottom: 5px;
}
