.wrapper {
    padding: 9px 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.avartar-item {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.img-avarar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    overflow: hidden;
}
