.wrapper {
    padding: 9px 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.avartar-item {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.img-avarar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    flex: 1;
}

.name {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-check {
    margin-left: 4px;
}

.name-desc {
    font-size: 1.4rem;
    height: 2rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
