.wrapper {
    padding: 9px 16px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.avartar-item {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
}

.img-avarar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
