.player-space {
    position: relative;
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover > .control {
        opacity: 1;
    }

    &.vertical {
        height: calc(450px + (100vw - 768px) / 1152 * 100);
    }

    &.horizontal {
        width: calc(450px + (100vw - 768px) / 1152 * 100);
    }
}

.default-space {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--default-background-media);
    z-index: 1;
}

.video,
.thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    min-width: 271px;
}

.thumb {
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    z-index: 1 !important;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 24px;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
    background-color: transparent;
}
.report-btn {
    width: auto;
    top: 20px;
    bottom: auto;
    right: 16px;
    height: auto;
    font-weight: 600;
    color: #fff;
    padding: 4px 0;

    span {
        margin-left: 4px;
    }
}

.play-control {
    left: 12px;
}

.mute {
    opacity: 1 !important;
}
