.player-space {
    position: relative;
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;

    .vertical {
        height: calc(450px + (100vw - 768px) / 1152 * 100);
    }

    .horizontal {
        height: calc(450px + (100vw - 768px) / 1152 * 100);
    }
}
