.player-space {
    position: relative;
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;

    &.vertical {
        height: calc(450px + (100vw - 768px) / 1152 * 100);
    }

    &.horizontal {
        width: calc(450px + (100vw - 768px) / 1152 * 100);
    }
}

.default-space {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--default-background-media);
    z-index: 1;
}
