.player-space {
    position: relative;
    border-radius: 8px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;

    &:hover > .control {
        opacity: 1;
    }

    &.vertical {
        height: calc(450px + (100vw - 768px) / 1152 * 100);
    }

    &.horizontal {
        width: calc(450px + (100vw - 768px) / 1152 * 100);
    }
}

.default-space {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--default-background-media);
    z-index: 1;
}

.video,
.thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    min-width: 271px;
}

.thumb {
    position: relative;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    z-index: 1 !important;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 24px;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
    background-color: transparent;
}
.report-btn {
    width: auto;
    top: 20px;
    bottom: auto;
    right: 16px;
    height: auto;
    font-weight: 600;
    color: #fff;
    padding: 4px 0;

    span {
        margin-left: 4px;
    }
}

.play-control {
    left: 12px;
}

.mute {
    opacity: 1 !important;
}
.volume-btn {
    right: 14px;

    &:hover ~ .volume-control {
        visibility: visible;
    }
}

.volume-control {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 64px;
    margin: 0 8px;
    border-radius: 32px;
    background-color: var(--background-gray-color-34);
    transform: rotate(180deg);

    position: absolute;
    bottom: 64px;
    right: 14px;
    z-index: 2;
    visibility: hidden;

    &:hover {
        visibility: visible;
    }
}

.volume-bar {
    width: 2px;
    height: 42px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);

    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: -11px -19px;
    }
}

.volume-dot {
    position: absolute;
    inset: 0;
    bottom: initial;
    border-radius: inherit;
    color: #fff;
    background-color: currentColor;
    height: 50%;
    max-height: 100%;

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 12px;
        height: 12px;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        background-color: currentColor;
    }
}
