.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--search-container-width);
    height: var(--search-container-height);
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    background-color: var(--background-color-gray-06);
    overflow: hidden;

    &:focus-within {
        border-color: var(--gray-color);
    }

    input {
        background-color: transparent;
        color: rgba(22, 24, 35, 1);
        caret-color: var(--primary);
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        flex: 1;
    }
}

input:not(:placeholder-shown) ~ .btn-search {
    color: var(--text-gray-color);
}

.icon-clear,
.icon-loading {
    position: absolute;
    top: var(--top-height-icon);
    right: calc(var(--search-width-btn) + 12px);
    color: var(--gray-color);
}

.icon-clear,
.btn-search {
    cursor: pointer;
}

.icon-search {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.icon-loading {
}

.btn-search {
    position: relative;
    width: var(--search-width-btn);
    height: 100%;
    font-size: 1.8rem;
    padding: 11px 16px 11px 12px;
    background-color: transparent;
    color: var(--gray-color);
    &:hover {
        background-color: var(--background-gray-color-03);
    }

    &:active {
        background-color: var(--background-gray-color-06);
    }

    &::before {
        content: '';
        position: absolute;
        width: 1px;
        top: var(--top-height-seperate);
        height: calc(var(--search-container-height) - var(--top-height-seperate) * 2);
        left: 0;
        background-color: var(--background-gray-color-12);
    }
}

.search-result {
    width: var(--search-container-width);
    max-height: min(100vh - 96px - 60px, 734px);
}

.title-search_title {
    color: var(--text-gray-color2);
    font-size: 1.4rem;
    font-weight: 600;
    height: 30px;
    line-height: var(--line-height);
    padding: 5px 12px;
}
