.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--search-container-width);
    height: var(--search-container-height);
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    background-color: var(--background-color-gray-06);
    overflow: hidden;

    &:focus-within {
        border-color: var(--gray-color);
    }

    input {
        background-color: transparent;
        color: rgba(22, 24, 35, 1);
        caret-color: var(--primary);
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        flex: 1;
    }
}

input:not(:placeholder-shown) ~ .btn-search {
    color: var(--text-gray-color);
}

.icon-clear,
.icon-loading {
    position: absolute;
    top: 9px;
    height: 28px;
    right: 68px;
    color: var(--gray-color);
}

.icon-clear,
.btn-search {
    cursor: pointer;
}

.icon-search {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.btn-search {
    width: var(--search-width-btn);
    height: 100%;
    font-size: 1.8rem;
    padding: 11px 16px 11px 12px;
    background-color: transparent;
    position: relative;
    color: var(--gray-color);
    &:hover {
        background-color: var(--background-gray-color-03);
    }

    &:active {
        background-color: var(--background-gray-color-06);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: var(--height-seperate-btn);
        left: 0;
        top: calc((var(--search-container-height) - var(--search-btn-after-height)) / 2);
        background-color: var(--background-gray-color-12);
    }
}
