.wrapper {
    display: flex;
    align-items: center;
    width: var(--search-container-width);
    height: var(--search-container-height);
    overflow: hidden;
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    background-color: #f1f1f2;

    input: {
        background-color: transparent;
        caret-color: var(--primary);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}
