.wrapper {
    display: flex;
    align-items: center;
    width: var(--search-container-width);
    height: var(--search-container-height);
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    background-color: var(--background-gray-color);
    padding: 12px 16px;
    overflow: hidden;

    &:focus-within {
        border-color: var(--gray-color);
    }

    input {
        background-color: transparent;
        color: rgba(22, 24, 35, 1);
        caret-color: var(--primary);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        flex: 1;
    }
}

.icon-clear,
.icon-loading,
.btn-search {
    color: var(--gray-color);
}

input:not(:placeholder-shown) ~ .btn-search {
    color: var(--background-gray-color);
}
