.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: var(--search-container-width);
    height: var(--search-container-height);
    overflow: hidden;
    border-radius: var(--search-border-radius);
    border: 1px solid transparent;
    background-color: rgba(22, 24, 35, 0.06);
    padding: 12px 16px;

    &:focus-within {
        border-color: #a7a7ab;
    }

    input {
        background-color: transparent;
        color: rgba(22, 24, 35, 1);
        caret-color: var(--primary);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        flex: 1;
    }
}

.icon-clear,
.icon-loading,
.btn-search {
    color: #a7a7ab;
}

input:not(:placeholder-shown) ~ .btn-search {
    color: #161823;
}

.btn-search {
    width: var(--search-width-btn);
    height: 100%;
    background-color: transparent;
}
