.loginQR-wrapper {
    display: flex;
    margin-top: 48px;
}

.left-space {
    flex-shrink: 0;
    width: 180px;
}

.QR {
    width: 180px;
    height: 180px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #f2f2f2;
}

.img-QR {
    width: 100%;
}

.step-list {
    margin-top: 24px;
}
