.share-wrapper {
    width: 284px;
}

.share-popper {
    padding-top: 0;
}
.arrow-popper {
    bottom: -9px;
    height: 9px;
    overflow-y: clip;
    z-index: 1;
    position: absolute;
    left: 0px;
    transform: translate3d(48px, 0px, 0px);

    &::before {
        background-color: var(--white-color-3);
        box-shadow: var(--box-shadow-popper);
        content: '';
        height: 15px;
        position: absolute;
        -webkit-transform: translateX(-50%) translateY(-67%) rotate(45deg);
        transform: translateX(-50%) translateY(-67%) rotate(45deg);
        width: 15px;
    }
}

.share-list {
    max-height: 448px;
    overflow-y: auto;
    padding: 8px 0;
}

.share-item {
    display: flex;
    justify-content: flex-start;
    margin-left: 0 !important;
    padding: 0 16px;
    width: 100%;
    min-height: 48px;
    font-size: 1.8rem;

    &:hover {
        background-color: var(--background-gray-color-03);
    }
}

.share-icon-item {
    font-size: 2.6rem;
    margin-right: 4px;
    line-height: 0;
}

.icon-seemore {
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
    line-height: 0;
}
