.share-wrapper {
    width: 284px;
}

.share-popper {
    padding-top: 0;
}
.arrow-popper {
    bottom: -9px;
    height: 9px;
    overflow-y: clip;
    z-index: 1;
    position: absolute;
    left: 0px;
    transform: translate3d(48px, 0px, 0px);

    &::before {
        background-color: var(--white-color-3);
        box-shadow: var(--box-shadow-popper);
        content: '';
        height: 15px;
        position: absolute;
        -webkit-transform: translateX(-50%) translateY(-67%) rotate(45deg);
        transform: translateX(-50%) translateY(-67%) rotate(45deg);
        width: 15px;
    }
}
