.modal-wrapper {
    --wrapper-width: 484px;
    --min-width-space: 375px;

    display: flex;
    flex-direction: column;
    max-width: var(--wrapper-width);
    max-height: 694px;
    height: 80%;
    font-size: 1.5rem;
    padding-top: 48px;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 16px;
    top: 16px;
    width: 41px;
    height: 41px;
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--background-gray-color-03);
}

.body {
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0 52px;
    min-width: var(--min-width-space);
}

.title-body {
    font-size: 3.2rem;
    margin: 16px 0;
    text-align: center;
}

.loginItem-btn {
    justify-content: flex-start;
    width: 100%;
    height: 44px;
    font-size: inherit;
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0 12px;
}

.icon {
    font-size: 2rem;
}

.text {
    flex: 1 1;
    margin: 0;
}
