.modal-wrapper {
    --wrapper-width: 484px;
    --min-width-space: 375px;

    display: flex;
    flex-direction: column;
    max-width: var(--wrapper-width);
    max-height: 694px;
    height: 80%;
    font-size: 1.5rem;
    padding-top: 48px;
}

.close-btn,
.icon-arrowleft {
    position: absolute;
    top: 16px;
    color: var(--text-color);
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    right: 16px;
    width: 41px;
    height: 41px;
    font-size: 2.5rem;
    border-radius: 50%;
    background-color: var(--background-gray-color-03);
}

.icon-arrowleft {
    background-color: transparent;
    font-size: 2.4rem;
    left: 16px;
}

.body {
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0 52px;
}

.title-body {
    font-size: 3.2rem;
    margin: 16px 0;
    text-align: center;
    line-height: 4.8rem;
}

.modal-wrapper .loginItem-btn {
    margin-left: 0;
}

.loginItem-btn {
    justify-content: flex-start;
    width: 100%;
    height: 44px;
    font-size: inherit;
    margin-bottom: 16px;
    // margin-left: 0;
    padding: 0 12px;
}

.icon {
    font-size: 2rem;
}

.text {
    flex: 1 1;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 64px;

    min-width: var(--wrapper-width);
    white-space: nowrap;
    border-top: 1px solid var(--background-gray-color-12);
}

.btn-toggleLogin {
    color: var(--primary);
    cursor: pointer;
    font-weight: 600;
    margin-left: 4px;

    &:hover {
        text-decoration: underline;
    }
}

.btnShow-fullRegisterList {
    font-size: 24px;
    line-height: 0;
    text-align: center;
    cursor: pointer;
}

.terms-register {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 16px 52px;
    color: var(--text-gray-color2);
}

.terms-register .terms-register_link {
    margin: 0 4px;
}
