.wrapper {
    --padding-spacer: 8px;
}
.title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--text-gray-color);
    padding: var(--padding-spacer);
    padding-top: 0px;
}

.seeall-btn {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    color: var(--primary);
    padding: var(--padding-spacer);
    padding-bottom: 0;
}

@media (max-width: 1071px) {
    .wrapper {
        padding: 8px 0;
    }

    .title {
        display: none;
    }

    .seeall-btn {
        display: none;
    }
}
