.wrapper {
    margin-bottom: 8px;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    color: currentColor;
    transition: background-color 0.2s ease-in-out;
}

.active {
    color: var(--primary);
}
