.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: inherit;
    // opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
