.wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    z-index: 10000000;
}

.overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}
