.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    opacity: 0;
    inset: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes hide-face {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide-scale {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0.2;
    }
}
