.wrapper {
    --wrapper-width: 484px;
    --min-width-space: 375px;

    position: fixed;
    z-index: 999999999;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: var(--wrapper-width);
    height: 80%;
    max-height: 694px;
}
