.wrapper {
    position: fixed;
    z-index: 999999999;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
