.wrapper {
    position: fixed;
    inset: 0;
    z-index: 999999;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    opacity: 0;
    inset: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
}

.wrapper .hide-effect-default {
    .overlay {
        animation-name: hide-fade;
    }

    .content {
        animation: hide-scale;
    }
}

// -------- Keyframes------------

@keyframes show-face {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//

@keyframes hide-fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hide-scale {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0.2;
    }
}
