.wrapper {
    --padding-spacer: 8px;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--text-gray-color);
    padding: var(--padding-spacer);
    padding-top: 0;
}

.content {
}
