.wrapper {
    --padding-spacer: 8px;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--text-gray-color);
    padding: var(--padding-spacer);
    padding-top: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 4px;
    color: inherit;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
