.wrapper {
    margin-bottom: 8px;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 8px;
    border-radius: 4px;
    color: currentColor;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: var(--background-gray-color-03);
    }

    .icon-active {
        display: none;
    }
}

.active {
    color: var(--primary);

    .icon {
        display: none;
    }

    .icon-active {
        display: block;
    }
}

.icon,
.icon-active {
    font-size: 32px;
    line-height: 0;
}

.title {
    font-size: 1.8rem;
    margin-left: 8px;
}
