.wrapper {
    display: flex;
    padding: 20px 0;
    position: relative;
    scroll-margin-top: var(--line-height);
}

.avatar {
    height: 56px;
    width: 46px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--default-background-media);
}
