.wrapper {
    display: flex;
    padding: 20px 0;
    position: relative;
    scroll-margin-top: var(--line-height);

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        inset: 0;
        top: auto;
        transform: translateY(0.5);
        background-color: var(--background-gray-color-02);
    }
}

.avatar {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--default-background-media);
}

.body {
    margin-left: 12px;
}

.video-info {
    margin-right: 114px;
}

.user-info {
    display: flex;
    align-items: center;
}

.small-avatar {
    height: 40px;
    width: 40px;
    margin-right: 12px;
    display: none;
}

.user-name {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-right: 4px;
}

.full-name {
    font-size: 1.4rem;
    font-weight: 400;
}

.follow-btn {
    position: absolute;
    right: 0;
    top: 28px;
    border: 1px solid var(--primary);
    color: var(--primary);
}
