.wrapper {
    display: flex;
    padding: 20px 0;
    position: relative;
    scroll-margin-top: var(--line-height);

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        inset: 0;
        top: auto;
        transform: translateY(0.5);
        background-color: var(--background-gray-color-02);
    }
}

.avatar {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--default-background-media);
}

.body {
    margin-left: 12px;
}

.video-info {
    margin-right: 114px;
}

.user-info {
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: underline;
    }
}
