#loader {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 34px;
    left: calc(var(--circle-diameter) * -1);

    pointer-events: none;
    user-select: none;

    &.medium {
        --circle-diameter: 16.5px;
    }

    &.small {
        --circle-diameter: 11.5px;
    }
}
