.wrapper {
    position: fixed;
    right: 24px;
    bottom: 40px;
    z-index: 10;
    text-align: right;
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1);

    &.show-icon-scroll {
        bottom: 0;
    }
}

.main-down-btn {
    font-size: 1.6rem;
    font-weight: bold;
    min-height: 32px;
    min-width: 90px;
    padding: 0 8px;
    color: var(--text-gray-color);
    background-color: var(--white-color-3);
    border-radius: 9999px;
    border-color: rgba(22, 24, 35, 0.12);
}

.download-app {
    position: relative;
}

.scroll-to-top {
    margin-bottom: 8px;
    margin-top: 12px;
}
