.wrapper {
    position: fixed;
    right: 24px;
    bottom: -40px;
    z-index: 10;
    text-align: right;
    transition: all 400ms cubic-bezier(0.65, 0, 0.35, 1);

    &.show-icon-scroll {
        bottom: 0;
    }
}

.download-app {
    position: relative;
}
